body{
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.container
{
border: solid rgba(190, 184, 184, 0.774) 0.1px;
text-align: left;
font-size: 25px;
width: 70%;
padding: 1em;
margin: 0 auto;

}

  h1 {
flex-direction: column;
justify-content: center;


}